{% load static %}
{% load custom_tag %}

<html lang="en">
<head>
    <title>Covid-19 Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/myjs.js' %}"></script>
</head>
<body>

<!--vertical navbar start-->

<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-1 bg-light">
        <!--align media objects (like images or videos) together with content
        To create a flexbox container and to transform direct children into flex items, use the d-flex class
        -->
        <p class="font-weight-bold text-uppercase px-3 small dashboard-text">Covid-19 Test</p>

        <div class="media d-flex align-items-center">

            <img src="{% static 'images/admin.jpg' %}" width="80" height="80"
                 class="mr-3 rounded-circle img-thumbnail shadow-sm">

            <div class="media-body">

                <h4 class="mb-0">Admin</h4>
                <p class="text-muted mb-0">{{request.user.email}}</p>

            </div>
        </div>
    </div>


    <!--.flex-column to display the flex items vertically (on top of each other)-->
    <ul class="nav flex-column bg-white">
        <li class="nav-item">
            <a href="{% url 'admin_home' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-tachometer-alt fa-fw mr-3 text-primary"></i>
                Dashboard
            </a>
        </li>
        <!--fa-fw class is used to set icons at a fixed width. This class is useful when different icon widths throw off alignment-->


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-user-md mr-3 text-primary fa-fw"></i> Phlebotomist
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'addPhlebotomist' %}"> Add Phlebotomist</a>
                <a class="dropdown-item" href="{% url 'managePhlebotomist' %}"> Manage Phlebotomist</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-vials mr-3 text-primary fa-fw"></i> Testing
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'newTest' %}">New</a>
                <a class="dropdown-item" href="{% url 'AssignedTest' %}">Assigned</a>
                <a class="dropdown-item" href="{% url 'ontheway' %}">On the way for sample Collection</a>
                <a class="dropdown-item" href="{% url 'samplecollected' %}">Sample Collected</a>
                <a class="dropdown-item" href="{% url 'senttolab' %}">Sent to lab</a>
                <a class="dropdown-item" href="{% url 'delivered' %}">Report Delivered</a>
                <a class="dropdown-item" href="{% url 'alltest' %}">All Tests</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-chart-bar mr-3 text-primary fa-fw"></i> Report
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'betweendate_report' %}">Between Date Report</a>
                <a class="dropdown-item" href="{% url 'search' %}">Search Report</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-user-md mr-3 text-primary fa-fw"></i> Queries
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'unread_queries' %}"> Unread Queries</a>
                <a class="dropdown-item" href="{% url 'read_queries' %}"> Read Queries</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'changePassword' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-cog mr-3 text-primary fa-fw"></i>
                Change Password
            </a>
        </li>
    </ul>
</div>

<!--vertical navbar end-->

<!--page content holder-->
<div class="page-content p-4" id="content">

    <a href="/logout" title="logout" class="float-right text-white"><i class="fas fa-power-off fa-2x"></i></a>

    <div class="container">
        <div class="dropdown">
    <a href="" class="float-right text-white pr-3 dropdown-toggle" id="menu1" data-toggle="dropdown"><span class="badge badge-danger">{% notificationcount %}</span><i class="fas fa-bell fa-2x"> </i>

    </a>
            <span class="caret"></span>
            <ul class="dropdown-menu bg-light text-danger">
                <li class="text-secondary" style="text-align : center">New Bookings</li>
                {% for i in ""|notification %}
                <a href="{% url 'viewTestingDtls' i.id %}">
                <li style="padding:10px">{{i.OrderNumber}} <span class="text-muted">
                                        <em>{{i.RegistrationDate}}</em>
                                    </span></li>
                </a>
                {% empty %}
                <li style="text-align : center">No Records Found</li>
                {% endfor %}

                <li style="padding:10px"><a href="{% url 'newTest' %}" class="btn btn-primary" style="width:100%">View All</a></li>
            </ul>
    </div>
        </div>
    <script>
        $(document).ready(function(){
            $(".dropdown-toggle").dropdown();
        });
    </script>

    <!--toggle btn-->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
        <i class="fas fa-bars mr-2"></i>
        <small class="text-uppercase font-weight-bold">Toggle</small>
    </button>
    <!--end toggle btn-->


    {% block main %}

    {% endblock %}

</div>
<!--end page content holder-->

</body>
</html>
