{% extends 'admin_base.html' %}
{% block main  %}


<script>
    function checkpassword(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }


</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');


</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');


</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');


</script>
{% endif %}

<div class="card shadow mt-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Change Password</h5>
        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="oldpassword" class="form-control"
                                   placeholder="Enter current password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpassword" class="form-control"
                                   placeholder="Enter new password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmpassword" class="form-control"
                                   placeholder="Enter confirm password">
                        </div>
                    </div>
                </div>

                <input type="Submit" value="Submit" class=" m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>


{% endblock %}