{% extends 'admin_base.html' %}
{% block main  %}

<div class="card shadow mt-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Edit Phlebotomist </h5>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Employee ID</label>
                            <input type="text" name="EmpID" class="form-control" value="{{phlebotomist.EmpID}}" readonly>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="FullName" class="form-control" value="{{phlebotomist.FullName}}">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="text" name="MobileNumber" class="form-control" value="{{phlebotomist.MobileNumber}}">
                        </div>
                    </div>
                </div>
                <label class="text-danger">Registration Date : {{phlebotomist.RegDate}}</label>
                <hr>
                <input type="submit" value="Update" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error ==  "no" %}
<script>
    alert('Phlebotomist has been Updated');
    window.location=('{% url 'managePhlebotomist' %}');

</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}


{% endblock %}